:root {
  --primary-color: #A466FF;
  --primary-light-color: #CC98FF;
  --primary-dark-color : #652CA1;
  --secondart-color: #F6AFAF;
  --background-color: #293145;
  --text-color: #FFFFFF;
  --secondary-text-color: #939393;
}

html,
body {
  font-family: 'Rajdhani', sans-serif;
  height: 100%;
}
[data-reactroot=""] {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#nprogress .bar {
  background: #a567ff !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #a567ff, 0 0 5px #a567ff;
}

/* Dialog, swal */

.swal2-modal {
  background: var(--background-color) !important;
}

.swal2-container.swal2-center {
  z-index: 2000;
}

#swal2-title {
  font-size: 21px;
  font-weight: 400;
  color: var(--text-color) !important;
  font-family: 'Bw Gradual';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

#swal2-html-container {
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #939393;
  margin-top: 7px;
}

.swal2-text {
  color: var(--secondary-text-color) !important;
  font-size: 14px;
  text-align: center;
}

.swal2-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.swal2-actions .swal2-styled.swal2-confirm {
  background-color: var(--primary-color);
  border: none !important;
  outline: none !important;
  border-radius: 5px;
  padding: 10px 24px;
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 405;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.4px;
}

.swal2-confirm:active {
  background-color: var(--primary-dark-color) !important;
}

.swal2-confirm:not([disabled]):hover {
  background-color: #8351cc !important;
}

body.swal2-height-auto.swal2-height-auto {
  height: 100% !important;
}

.swal2-actions {
  flex-direction: row-reverse !important;
}

.swal2-actions .swal2-styled.swal2-cancel {
  background: transparent !important;
  border: 1px solid var(--primary-dark-color);
  color: var(--primary-dark-color);
  padding: 10px 24px;
}

.swal2-styled.swal2-cancel:focus {
  box-shadow: none !important;
}

.monaco-scrollable-element>.invisible.vertical {
  width: 5px !important;
}

.monaco-scrollable-element > .scrollbar.vertical > .slider {
  width: 5px !important;
  left: initial !important;
  right: 0;
}

.monaco-scrollable-element > .scrollbar.horizontal > .slider {
  height: 5px !important;
  top: initial !important;
  bottom: 0;
}

.decorationsOverviewRuler {
  width: 5px !important;
}
