:root {
  --primary-color: #A466FF;
  --primary-light-color: #CC98FF;
  --primary-dark-color : #652CA1;
  --secondart-color: #F6AFAF;
  --background-color: #293145;
  --text-color: #FFFFFF;
  --secondary-text-color: #939393;
}

html,
body {
  font-family: 'Rajdhani', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#nprogress .bar {
  background: #a567ff !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #a567ff, 0 0 5px #a567ff;
}

/* Dialog, swal */

.swal-modal {
  background: var(--background-color);
}

.swal-title {
  font-size: 21px;
  font-weight: 400;
  color: var(--text-color);
}

.swal-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  text-align: center;
}

.swal-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.swal-button {
  background-color: var(--primary-color);
  border: none !important;
  outline: none !important; 
  border-radius: 5px;
  padding: 12px 24px;
}

.swal-button:active {
  background-color: var(--primary-dark-color);
}

.swal-button:not([disabled]):hover {
  background-color: var(--primary-light-color);
  box-shadow: 0px 4px 14px rgba(115, 103, 240, 0.38);
}