html,
body {
  font-family: "Rajdhani", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#nprogress .bar {
  background: #A567FF !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #A567FF, 0 0 5px #A567FF;
}
