version: '3'
services:
  vault_demo:
    image: hashicorp/vault:latest
    restart: always
    volumes:
      - /vault/file
      - /etc/vault/logs
      - ../config:/vault/config
    ports:
      - "8200:8200/tcp"
    cap_add:
      - IPC_LOCK
    container_name: vault_demo
    entrypoint: "vault server -config=/vault/config/vault.json"

  postgres:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=ddhub
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=ddhub
    ports:
      - '5432:5432'
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ddhub"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  ddhub-gateway-migrationer:
    image: aemocontainerregistry.azurecr.io/ddhub-client-gateway-backend:2252460b-5661-4098-8058-6378301af0dc
    container_name: ddhub-gateway-migrationer
    depends_on:
      postgres:
        condition: service_healthy
    command: "./node_modules/.bin/typeorm migrations:run"
    environment:
      NODE_ENV: test
      DSB_BASE_URL: https://ddhub-demo.energyweb.org
      CACHE_SERVER_URL: https://identitycache-staging.energyweb.org/v1
      EVENT_SERVER_URL: https://identitycache-staging.energyweb.org
      SECRETS_ENGINE: $SECRETS_ENGINE
      VAULT_ENDPOINT: http://vault_demo:8200
      VAULT_TOKEN: $VAULT_TOKEN
      AWS_REGION: $AWS_REGION
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AZURE_VAULT_URL: $AZURE_VAULT_URL
      AZURE_CLIENT_SECRET: $AZURE_CLIENT_SECRET
      AZURE_CLIENT_ID: $AZURE_CLIENT_ID
      AZURE_TENANT_ID: $AZURE_TENANT_ID
      DB_NAME: postgresql://ddhub:password123@postgres:5432/ddhub
      PARENT_NAMESPACE: ddhub.apps.energyweb.iam.ewc
      MTLS_ENABLED: "false"

  ddhub-gateway-UI:
    image: aemocontainerregistry.azurecr.io/ddhub-client-gateway-frontend:1.3.1
    ports:
      - "3000:80"

  ddhub-gateway-api:
    image: aemocontainerregistry.azurecr.io/ddhub-client-gateway-backend:2252460b-5661-4098-8058-6378301af0dc
    container_name: ddhub-gateway-api
    depends_on:
      - 'vault_demo'
      - 'postgres'
      - 'ddhub-gateway-migrationer'
    ports:
      - 3333:3333
    environment:
      NODE_ENV: test
      DSB_BASE_URL: https://ddhub-demo.energyweb.org
      CACHE_SERVER_URL: https://identitycache-staging.energyweb.org/v1
      EVENT_SERVER_URL: https://identitycache-staging.energyweb.org
      SECRETS_ENGINE: $SECRETS_ENGINE
      VAULT_ENDPOINT: http://vault_demo:8200
      VAULT_TOKEN: $VAULT_TOKEN
      AWS_REGION: $AWS_REGION
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AZURE_VAULT_URL: $AZURE_VAULT_URL
      AZURE_CLIENT_SECRET: $AZURE_CLIENT_SECRET
      AZURE_CLIENT_ID: $AZURE_CLIENT_ID
      AZURE_TENANT_ID: $AZURE_TENANT_ID
      DB_NAME: postgresql://ddhub:password123@postgres:5432/ddhub
      PARENT_NAMESPACE: ddhub.apps.energyweb.iam.ewc
      MTLS_ENABLED: "false"

  ddhub-gateway-scheduler:
    image: aemocontainerregistry.azurecr.io/ddhub-client-gateway-scheduler:2252460b-5661-4098-8058-6378301af0dc
    container_name: ddhub-gateway-scheduler
    depends_on:
      - 'vault_demo'
      - 'postgres'
      - 'ddhub-gateway-migrationer'
    environment:
      NODE_ENV: test
      DSB_BASE_URL: https://ddhub-demo.energyweb.org
      CACHE_SERVER_URL: https://identitycache-staging.energyweb.org/v1
      EVENT_SERVER_URL: https://identitycache-staging.energyweb.org
      SECRETS_ENGINE: $SECRETS_ENGINE
      VAULT_ENDPOINT: http://vault_demo:8200
      VAULT_TOKEN: $VAULT_TOKEN
      AWS_REGION: $AWS_REGION
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AZURE_VAULT_URL: $AZURE_VAULT_URL
      AZURE_CLIENT_SECRET: $AZURE_CLIENT_SECRET
      AZURE_CLIENT_ID: $AZURE_CLIENT_ID
      AZURE_TENANT_ID: $AZURE_TENANT_ID
      DB_NAME: postgresql://ddhub:password123@postgres:5432/ddhub
      DID_REGISTRY_ADDRESS: "0xc15d5a57a8eb0e1dcbe5d88b8f9a82017e5cc4af"
      PARENT_NAMESPACE: ddhub.apps.energyweb.iam.ewc
      MTLS_ENABLED: "false"

  proxy-server:
    image: nginx:alpine
    volumes:
      - ./proxy-config:/etc/nginx/conf.d
    ports:
      - "3009:80"
    depends_on:
      - ddhub-gateway-UI
      - ddhub-gateway-api
