name: Pull Request

on:
  pull_request:

jobs:
  snyk:
    uses: ././github/workflows/snyk.yml
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  lint-commits:
    uses: ./.github/workflows/commitlint.yml
  build-api:
    needs: lint-commits
    uses: ./.github/workflows/build_api.yml
    secrets:
      ONEPASSWORD_VAULT_ID: ${{ secrets.ONEPASSWORD_VAULT_ID }}
      ONEPASSWORD_HOST: ${{ secrets.ONEPASSWORD_HOST }}
      ONEPASSWORD_TOKEN: ${{ secrets.ONEPASSWORD_TOKEN }}
      INFURA_PROJECT_SECRET: ${{ secrets.INFURA_PROJECT_SECRET }}
      INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
  build-frontend:
    needs: lint-commits
    uses: ./.github/workflows/build_frontend.yml
  build-scheduler:
    needs: lint-commits
    uses: ./.github/workflows/build_scheduler.yml
