name: Install and build

on:
  pull_request:
    branches:
      - '*'

jobs:
  cancel-previous:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}

  install-and-build:
    runs-on: ubuntu-latest
    # services:
    #   jetstream:
    #     image: piotrkosinski/nats-jetstream:2.2.6
    #     ports:
    #       - 4222:4222
    # env:
    #   NATS_JS_URL: 'nats://localhost:4222'
    needs: cancel-previous
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: actions/setup-node@v2-beta
      with:
        node-version: '14'

    # - name: Check dependency versions
    #   run: node common/scripts/install-run-rush.js check

    - name: Install application
      run: yarn

    - name: Build application
      run: yarn build

    - name: Run tests
      run: yarn test
